/*=============== HOME ===============*/
.home{
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 200px;
        }
    }
    &__container{
        row-gap: 3rem;
    }
    &__title{
        font-size: var(--biggest-font-size);
        font-weight: var(--font-bold);
        margin-bottom: var(--mb-0-75);
    }
    &__description{
        margin-bottom: var(--mb-2);
    }
}